/* global */
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* part-1 */
.part-1, .part-2, .part-3, .part-4, .part-5 { margin-bottom: 50px; }

.part-1 .logo {

}

.part-1 .description {
    color: #fff;
    font-weight: bolder;
    background-color: #589337;
}

.part-1 .block {
    background-color: rgba(244,67,54,1);
    color: rgba(0,0,0,1);
}

.part-1 h2 {
    -webkit-font-smoothing: antialiased;
    color: rgba(255,255,255,1);
    font-weight: 700;
    line-height: 36px;
    padding: 20px 25px;
}

/* part-2 */
/* part-3 */
.part-3 h2 { margin-bottom: 30px; }
.part-3 input[type=text], .part-3 input[type=number] {
	background-color: rgba(255,235,59,1);
    color: rgba(0,0,0,1);
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(0,0,0,1);
    height: 52px;
}

.part-3 input[type=button], .part-5 form input[type=button] {
    background-color: rgba(221,44,0,1);
    color: #ffffff;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    padding: 10px 30px;
    width: 100%;   
}

/* part-4 */
.part-4 img { margin: 50px auto;  }
.part-4 .content {
	text-align: justify;
	font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,1);
    font-weight: 400;
    line-height: 23px;
    font-size: 17px;
}
/* part-5 */
.part-5 h2 {
	/* font-family: 'Roboto Slab'; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(104,159,56,1);
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 30px;
	margin-top: 0;
}

.part-5 form {
	border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,1);
    padding: 40px;
    background-color: rgb(76, 175, 79);
}

.part-5 form h2 {
	color: #fff;
}

.part-5 form input {
	border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,1);
    width: 100%;
}

.part-5 form input[type=text], .part-5 input[type=number] {
	height: 52px;
}

.part-5 ul {
	list-style: none;
	padding: 0;
}

.part-5 li {
	padding-left: 1.3em;
	color: rgba(0,0,0,1);
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px;
}

.part-5 li:before {
	content: "\f046"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
}

/* part-6 */
.part-6 h2 .p-1 {
	-webkit-font-smoothing: antialiased;
    color: rgba(156,39,176,1);
    font-weight: 700;
    line-height: 36px;
}

.part-6 h2 .p-2 {
	-webkit-font-smoothing: antialiased;
    color: rgba(221,44,0,1);
    font-weight: 700;
    line-height: 36px;
}

.part-6 h2 .p-3 {
	-webkit-font-smoothing: antialiased;
    color: #000;
    font-weight: 700;
    line-height: 36px;
}

/* push notification */
.notification {
    display: none;
	position: fixed;
    top: 500px;
    left: 10px;
	border: 1px solid yellow;
	background-color: rgba(255,255,255,1);
    padding: 5px 10px;
    max-width: 290px;
}

@media only screen and (min-width: 1366px) {
    .formbody { width: 30%; margin: 0 auto; }
}

@media only screen and (max-width: 480px) {
    img { display: block; max-width: 100%; height: auto; }
}
